.large-hero {
  position: relative;
}

.large-hero__text-content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); /*This wil let you positing an element vertically relative to itself*/
  left: 0%;
  width: 100%;
  text-align: center;
}

/*.large-hero h1 {
  font-weight: 300;
} This is an old school way of selecting type and elements.*/
